<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Small Apps | Bootstrap App Landing Template</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/slick/slick.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/aos/aos.css" asp-append-version="true">

    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
</head>
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
   <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
        </li>
        <li class="nav-item dropdown @@pages">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <feature name="@FeatureFlags.Team">
                <li><a class="dropdown-item @@team" asp-action="Team" asp-controller="Home">Team</a></li>
            </feature>
            <li><a class="dropdown-item @@career" asp-action="Career" asp-controller="Home">Career</a></li>
            <feature name="@FeatureFlags.Blogs">
                <li><a class="dropdown-item @@blog" asp-action="Index" asp-controller="Blog">Blog</a></li>
                <li><a class="dropdown-item @@blogSingle" asp-action="Single" asp-controller="Blog">Blog Single</a></li>
            </feature>
            <li><a class="dropdown-item @@privacy" asp-action="Privacy" asp-controller="Home">Privacy</a></li>
            <feature name="@FeatureFlags.Faqs">
            <li><a class="dropdown-item @@faq" asp-action="Faq" asp-controller="Home">FAQ</a></li>
            </feature>
            <li><a class="dropdown-item" asp-action="Signin" asp-controller="Account">Sign In</a></li>
            <li><a class="dropdown-item" asp-action="Signup" asp-controller="Account">Sign Up</a></li>
            <li><a class="dropdown-item" asp-action="NotFound" asp-controller="Home">404</a></li>
          </ul>
        </li>
        <li class="nav-item @@about">
          <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
        </li>
        <feature name="@FeatureFlags.ContactAddress,@FeatureFlags.ContactForm" requirement="Any">
            <li class="nav-item @@contact">
              <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
            </li>
        </feature>
      </ul>
    </div>
  </div>
</nav>

@RenderBody()
        
<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a asp-action="Index" asp-controller="Home"><img src="~/images/logo-alt.png" alt="footer-logo"></a>
            
            <feature name="@FeatureFlags.SocialIcons">
                <!-- Social Site Icons -->
                <ul class="social-icon list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/"><i class="ti-facebook"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com/"><i class="ti-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/"><i class="ti-instagram"></i></a>
                  </li>
                </ul>
            </feature>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <feature name="@FeatureFlags.Team">
                <li><a asp-action="Team" asp-controller="Home">Teams</a></li>
              </feature>
              
              <feature name="@FeatureFlags.Blogs">
                <li><a asp-action="Index" asp-controller="Blog">Blogs</a></li>
              </feature>
              <feature name="@FeatureFlags.Faqs">
                <li><a asp-action="Faq" asp-controller="Home">FAQs</a></li>
              </feature>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a asp-action="Signup" asp-controller="Account">Singup</a></li>
              <li><a asp-action="Login" asp-controller="Account">Login</a></li>
              <feature name="@FeatureFlags.Blogs">
                <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
              </feature>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a asp-action="Career" asp-controller="Home">Career</a></li>
              <feature name="@FeatureFlags.ContactAddress,@FeatureFlags.ContactForm" requirement="Any">
                <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
              </feature>
              <li><a asp-action="Team" asp-controller="Home">Investor</a></li>
              <li><a asp-action="Privacy" asp-controller="Home">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a asp-action="About" asp-controller="Home">About</a></li>
              <feature name="@FeatureFlags.ContactAddress,@FeatureFlags.ContactForm" requirement="Any">
                <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
              </feature>
              <li><a asp-action="Team" asp-controller="Home">Team</a></li>
              <li><a asp-action="Privacy" asp-controller="Home">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>
</footer>

  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="~/plugins/jquery/jquery.min.js"></script>
  <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="~/plugins/slick/slick.min.js"></script>
  <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="~/plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="~/plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="~/plugins/google-map/gmap.js"></script>
  
  <script src="~/js/script.js"></script>
</body>
</html>
